.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 996;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top {
  background: var(--bs-primary);
}

.back-to-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.back-to-top:hover {
  background-color: color-mix(in srgb, var(--bs-primary), transparent 20%);
  color: var(--contrast-color);
}

.back-to-top.visible {
  visibility: visible;
  opacity: 1;
}