{% load static %}

{% if btn_back_to_top|default_if_none:True %}
  <a href="#"
     id="btn-back-to-top"
     class="btn d-flex align-items-center justify-content-center position-fixed end-0 bottom-0 mb-3 me-3 z-2 bg-primary text-white rounded opacity-0 invisible transition"
     style="width: 40px;
            height: 40px;
            transition: all 0.3s">
    <i class="bi bi-arrow-up-short fs-3 lh-1"></i>
  </a>
  <script defer src="{% static 'base/widgets/btn-back-to-top.js' %}"></script>
{% endif %}
