{% extends "base/index.html" %}

{% block main %}
  <section class="py-5 my-5">
  </section>
  <section class="py-5 my-5">
  </section>
  <section class="py-5 my-5">
  </section>
  <section class="py-5 my-5">
  </section>
  <section class="py-5 my-5">
  </section>
  <section class="py-5 my-5">
  </section>
  <section class="py-5 my-5">
  </section>
  <section class="py-5 my-5">
  </section>
  <section class="py-5 my-5">
  </section>
  <section class="py-5 my-5">
  </section>
{% endblock main %}
